@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
}

header {
  flex: 2;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  position: relative;
}

header::before,
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header::before {
  background-image: url("https://source.unsplash.com/HSI1i8jnAJ8/1600x900");
  z-index: -1;
}

header::after {
  background-color: #01163d;
  z-index: -1;
  opacity: 0.7;
}

.counters {
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: #01163d;
  border-top: #fff solid 3px;
  color: rgb(0, 153, 255);
}

.counters .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  align-content: center;
  margin-top: 30px;
}

.counter {
  text-align: center;
  width: 80%;
  margin: auto;
}

.count {
  font-size: 1.2rem;
  padding: 0.6rem;
  color: aliceblue;
}

.counter p {
  font-size: 1.2rem;
  padding: 0.6rem;
  color: aliceblue;
}

@media (max-width: 760px) {
  .counters .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .counters .container > div:nth-of-type(1),
  .counters .container > div:nth-of-type(2) {
    border-bottom: lightskyblue 1px solid;
    padding-bottom: 1.3rem;
  }
}
